
body {
  font-family: 'Roboto';
  margin: 30px auto 0;
  display: block;
  background: #FFF;
  padding: 10px 50px 50px;
}

.container {
  width: 40%;
  margin-left: 30%;

  .header {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    background-color: deeppink;
    color: white;
  }

  .content {
    width: 100%;

    &--caption {
      margin-top: 20px;
      text-align: center;
    }

    &--form {
      background-color: #E5E1E1;
      height: 350px;
    }

    &--result {
      margin-top: 20px;
      text-align: center;
    }
  }
}

.content--form {
  .form--checkbox {
    margin-left: 20px;
    margin-top: 20px;

    .checkbox--label {
      font-size: 1rem;
    }
  }

  .form--group {
    top: 20px;
    position: relative;
    margin-bottom: 45px;
    margin-left: 20px;

    .fas {
      position: absolute;
      font-size: 20px;
    }

    .fas.fa-bars {
      margin-top: -40px !important;
    }

    .far {
      position: absolute;
      font-size: 20px;
    }

    .form--input {
      background-color: #E5E1E1;
      margin-left: 30px;
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      width: 90%;
      border: none;
      border-bottom: 1px solid #757575;
    }

    .form--input:focus {
      outline: none;
    }

    .form--label {
      margin-left: 30px;
      color: #999;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 0px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    .form--input:focus ~ .form--label, .form--input:valid ~ .form--label {
      top: -20px;
      font-size: 14px;
      color: #999;
    }

    .form--input.weight:focus ~ .form--label.weight {
      top: -20px;
      font-size: 14px;
      color: #2e9ff0;
    }

    .form--input.weight:focus {
      border-bottom: 2px solid #2e9ff0 !important;
    }

    .form--input.weight:focus ~ .fas.fa-bars {
      color: #2e9ff0 !important;
    }

    .alert.alert-danger {
      margin-left: 30px;
      margin-top: 10px;

      div {
        color: red;
        font-size: 1rem;
      }
    }
  }

  .form--button {
    padding: 10px 10px;
    background-color: deeppink;
    color: white;
    font-size: 1.3rem;
    border: none;
    border-radius: 5px;
    margin-left: 43%;
  }
}

.caption {
  &--styleForB {
    font-weight: 990;
    font-size: 50px;
    background: #d60fb8;
    padding: 0 10px;
    color: white;
  }

  &--styleForMI {
    font-size: 50px;
  }
}

.result {
  &--commentBmi {
    color: #d60fb8;
    font-size: 1.5rem;

  }

  &--Bmi {
    font-style: italic;
    color: #2e6cf2;
  }
}
