<div class="container">
  <div class="header">
    <h1> BMI</h1>
  </div>
  <div class="content">
    <div class="content--caption">
      <h1><span class="caption--styleForB">B</span><strong class="caption--styleForMI">MI</strong></h1>
    </div>
    <div class="content--form">
      <form (ngSubmit)="onSubmit()" [formGroup]="formValue">
        <span class="form--checkbox"><strong>You are : </strong>
          <label class="checkbox--label">Male
            <input type="checkbox" formControlName="male"/>
          </label>
          <label class="checkbox--label"> Female
            <input type="checkbox" formControlName="female"/>
          </label>
        </span>
        <div class="form--group">
          <i class="far fa-user"></i>
          <input class="form--input age" type="text" name="age" formControlName="age" required>
          <label class="form--label age">Age</label>
          <div *ngIf="formValue.controls.age.touched && formValue.controls.age.invalid" class="alert alert-danger">
            <div *ngIf="formValue.controls.age.errors.pattern">Enter only number.</div>
          </div>
        </div>
        <div class="form--group">
          <i class="fas fa-chart-bar"></i>
          <input class="form--input height" type="text" inputmode="decimal" formControlName="height" required>
          <label class="form--label height">Height in feet</label>
          <div *ngIf="formValue.controls.height.touched && formValue.controls.height.invalid"
               class="alert alert-danger">
            <div *ngIf="formValue.controls.height.errors.required">Required to enter numbers.</div>
            <div *ngIf="formValue.controls.height.errors.pattern">Enter only number.</div>
          </div>
        </div>
        <div class="form--group">
          <input class="form--input weight" type="text" formControlName="weight" required>
          <label class="form--label weight">Weight in Ib</label>
          <i class="fas fa-bars"></i>
          <div *ngIf="formValue.controls.weight.touched && formValue.controls.weight.invalid"
               class="alert alert-danger">
            <div *ngIf="formValue.controls.weight.errors.required">Required to enter numbers.</div>
            <div *ngIf="formValue.controls.weight.errors.pattern">Enter only number.</div>
          </div>
        </div>
        <button class="form--button" type="submit" [disabled]="!formValue.valid"> Calculate</button>
      </form>
    </div>
    <div class="content--result" [style]="{display: showResult}" >
      <h1 class="result--Bmi">Your BMI: {{resultBmi|number : '1.2-2'}}</h1>
      <h3 class="result--commentBmi"> {{commentBmi}}</h3>
    </div>
  </div>
</div>


